.addPost {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b9b9b;    
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.addPost form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    width: 80%;
    height: 80%;
    background-color: #dfdfdf;
    border-radius: 50px;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.432);
}

.addPost form input, textarea {
    border: none;
    background-color: #5c3d3d;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}

.addPost form button {
    border: 2px solid #5c3d3d;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #9b9b9b;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.432);
    font-size: 20px;
    transition: all .2s;
}

.addPost form button:hover {
    background-color: rgb(114, 112, 112);
    color: #5c3d3d;
}


.addPost p {
    position: absolute;
    top: 50px;
    right: 70px;
    font-size: 40px;
    font-family: monospace;
    cursor: pointer;
}


.addPost form img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border: 5px solid gray;
    border-radius: 20px;
}
